[Desktop Entry]
Name=Kebap
StartupWMClass=Kebap
Comment=A Simple Jellyfin Frontend built on top of Flutter.
Exec=Kebap
Icon=Kebap
Terminal=false
Type=Application
Categories=Entertainment;
